body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    color:black;
}

header {
    background: #32a7ff;
    flex: 0 60px;
}

footer {
    bottom: 0;
    background: #32a7ff;
    flex: 0 30px;
    display: flex;
    flex-direction: row;
}

span {
    padding: 0.3em;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

#username {
    top: 20px;
    right: 20px;
}

li {
    padding: 3px;
}

main {
    flex: 1 calc(100vh - 100px);
    display: flex;
    background: #dbf3fa;
    color: #62ca6b;
    flex-direction: column;
    text-align: center;
}


menu .nav-item {
    padding: 0 0.3em;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    gap: 10px;
}

.image-grid a {
    display: block;
    text-decoration: none;
}

@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}