body {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    color:black;
}

header {
    background: #32a7ff;
    flex: 0 60px;
}

footer {
    position: fixed;
    bottom: 0;
    background: #32a7ff;
    flex: 0 30px;
    display: flex;
    flex-direction: row;
}

span {
    padding: 0.3em;
}

menu {
    flex: 1;
    display: flex;
    /*  overwrite Bootstrap so the menu does not wrap */
    flex-direction: row !important;
    list-style: none;
}

main li {
    padding: 3px;
    list-style:square;
}

form {
    padding-bottom: 1em;
}

main {
    flex: 1 calc(100vh - 100px);
    display: flex;
    background: #dbf3fa;
    color: #62ca6b;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

menu .nav-item {
    padding: 0 0.3em;
}

h2,h3 {
    color: #62ca6b;
}



@media (max-height: 600px) {
    header {
        display: none;
    }
    footer {
        display: none;
    }
    main {
        flex: 1 100vh;
    }
}